<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translation </title>
    <link rel="stylesheet" href="static/styles1.css">
</head>
<body>
    <div class="container">
        <h1>Translator</h1>
        <div class="translation-box">
            <textarea id="input-text" placeholder="Nhập câu muốn dịch ... "></textarea>
            <div id="output-text" class="empty"></div>
        </div>
        <div class="footer">
            <p>Translation App &copy; 2024</p>
        </div>
    </div>
    <script src="static/app1.js"></script>
</body>
</html>
